<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Visit www.psdgraphics.com for more stuff</title>
    <link href="C:\wamp\www\regresilinier\regresilinier\application\views\style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="psdgraphics-com-table">
    <div id="psdg-header">
        <span class="psdg-bold">Table Pembantu</span><br />
        Detail of table Regresi, Korelasi, dan Reporting Period
    </div>
    <div id="psdg-top">
        <div class="psdg-top-cell" style="width:129px; text-align:left; padding-left: 24px;">No.</div>
        <div class="psdg-top-cell">X</div>
        <div class="psdg-top-cell">Y</div>
        <div class="psdg-top-cell">X<sup>2</sup></div>
        <div class="psdg-top-cell" style="border:none;">Y<sup>2</sup></div>
    </div>
    <div id="psdg-middle">
        <div class="psdg-left">1</div>
        <div class="psdg-right">25</div>
        <div class="psdg-right">36</div>
        <div class="psdg-right">625</div>
        <div class="psdg-right">1296</div>
        <div class="psdg-left">2 </div>
        <div class="psdg-right">8</div>
        <div class="psdg-right">36</div>
        <div class="psdg-right">3</div>
        <div class="psdg-right">9</div>
        <div class="psdg-left">3 </div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">1</div>
        <div class="psdg-left">4</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">17</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">289</div>
        <div class="psdg-left">5</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">32</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">1024</div>
        <div class="psdg-left">6</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">88</div>
        <div class="psdg-right">1</div>
        <div class="psdg-right">7744</div>
        <div class="psdg-left">7</div>
        <div class="psdg-right">3</div>
        <div class="psdg-right">54</div>
        <div class="psdg-right">9</div>
        <div class="psdg-right">2916</div>
        <div id="psdg-bottom">
            <div class="psdg-bottom-cell" style="width:129px; text-align:left; padding-left: 24px;">Jumlah:</div>
            <div class="psdg-bottom-cell">74</div>
            <div class="psdg-bottom-cell">641</div>
            <div class="psdg-bottom-cell">978</div>
            <div class="psdg-bottom-cell" style="border:none;">67181</div>
        </div>
    </div>
    <div id="psdg-footer">
        * Nilai diatas dapat di breakdown sesuai kebutuhan.
    </div>
</div>
</body>
</html>